#cover {
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-hidden{
    transform: translate3d(0,-100%,0);
    transition: transform 2s ease;
}

.cover-show{
    transform: translate3d(0,0,0);
    transition: transform 2s ease;
}

.cover-page{
    position: absolute;
    top:0px;
    left:0px;    
    overflow: hidden;
    width: 100%;
    z-index: 3;
    right:0;
    bottom:0
}


