.aaa{
    transform: translate3d(100%,0,0);
    transition: transform 2s ease;
}

.bbb{
    position: absolute;
    background: yellow;   

    top:0;
    left:-300px;
    width:300px;    
}

.ccc{
    transform: translate3d(0,0,0);
    transition: transform 2s ease;
}
