@font-face {
    font-family: 'VT323';
    src: url('../../fonts/VT323-Regular.ttf') format('truetype');
}

#intro{
    margin-top: 16vw;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30px;
    margin-bottom: 16vw;
}

#intro h1{
    text-align:center;
    margin-bottom:8vw;
}
#intro .context{
    font-family: 'VT323';
    font-size: 36px;
    text-align: justify;
}

@media screen and (max-width: 480px){
    #intro {
        padding-left: 5%;
        padding-right: 5%
    }
    #intro h1{
        margin-bottom: 40px;
        font-size: 30px
    }
    #intro .context{
        font-size: 22px;
        text-align: start;
    }
}